@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

section {

    padding: 50px 10%;
}

*::selection {
    color: white;
    background: darkblue;
}

img {

    width: 100%
}

.cabecalho {
    background-color: white;
}

.cabecalho.transparent {
    background-color: transparent;
    /* Outras propriedades de estilo conforme necessário */
}

header {

    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    /*background: transparent;*/
    box-shadow: 0 4px 41px rgb(14 55 54 /14%);
    padding: 15px 10%;
    transition: 0.2s;

}

.logo {

    display: flex;
    align-items: center;
}

.logo img {

    width: 70px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 1rem;
    padding: 11px 0px;
    color: rgb(30, 16, 158);
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 35px;
    align-items: center;


}

.navbar a::before {
    content: '';
    position: absolute;
    top: 75%;
    left: 0;
    width: 0;
    height: 1.5px;
    background: rgb(0, 134, 211);
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.navbar a:hover {
    color: rgb(0, 134, 211);
}


.actions span {
    font-size: 1.4rem;
    padding: 11px 0px;
    color: rgb(30, 16, 158);
    font-weight: 500;
    position: relative;
    text-decoration: none;
    margin-left: 20px;
    cursor: pointer;
}


.actions span:hover {
    color: rgb(0, 134, 211);
}

.actions {
    display: flex;
    /* Isso faz com que todos os itens da lista se comportem como blocos flexíveis */
}

.actions li {
    margin-right: 1px;
    /* Adiciona algum espaço entre os ícones */
}

.actions:hover {
    color: rgb(0, 134, 211);

}

#menu-icon {
    font: size 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.home {
    width: 100%;
    min-height: 115vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: rgb(225, 231, 235);
    gap: 1rem;
}

.home-text {
    flex: 1 1 17rem;

}

.home-img {
    flex: 1 0 40rem;
}



@keyframes animate {
    0% {
        transform: translate(-11px, 0);
    }

    50% {
        transform: translate(-0px, -11px);
    }

    100% {
        transform: translate(-11px, 0);
    }

}

.home-text span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    margin: 0 0 20px;
}

.home-text h1 {
    font-size: 3.5rem;
    color: rgb(24, 12, 133);
    font-weight: bolder;
}

.home-text h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
    text-transform: capitalize;
    margin: 0.5rem 0 1.4rem;
}

.btn {
    padding: 7px 16px;
    border-radius: 30px;
    color: rgb(21, 68, 156);
    font-weight: 500;
    border: 2px solid rgb(21, 68, 156);
}

.btn:hover {
    color: white;
    background: #959BC7;
    border: #959BC7;
}

.heading {
    text-align: center;
    text-transform: uppercase;
}

.heading span {
    font-size: 1rem;
    font-weight: 600;
    color: black;
}

.heading h1 {
    font-size: 2rem;
    color: rgb(26, 16, 117);
}

.shop-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
}

.shop-container .box {
    flex: 1 1 10rem;
    background-color: rgb(26, 16, 117);
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: -2rem;
    border-radius: 8px;
}

.stars {
    margin: 1rem 0 0.1rem;
}

.shop-container .box .stars .bx {
    color: aliceblue;
}

.shop-container .box h2 {
    color: aliceblue;
    font-size: 1.2rem;
    padding: 0 0 14px;
}

.box .btn {
    border: 2px solid aliceblue;
    color: aliceblue;
}

.box .btn:hover {
    background: aliceblue;
    color: rgb(26, 16, 117);

}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}

.sobreNos-img,
.faleConosco-img {

    flex: 1 1 1rem;

}

.sobreNos-text,
.faleConosco-text {
    flex: 1 1 10rem;
}

.sobreNos-text h2,
.faleConosco-text h2 {
    font-size: 1.2rem;
    color: rgb(26, 16, 117);
}

.sobreNos-text p,
.faleConosco-text p {
    margin: 0.5rem 0 1rem;
    text-align: justify;
}

.teste {
    display: flex;
    flex-wrap: wrap;
    background: rgb(26, 16, 117);
    gap: 1.5rem;
}

.teste-img {
    flex: 1 1 17rem;
}

.teste-text {
    flex: 1 1 17rem;
}

.teste p {
    color: white;
}

.teste-text h2 {

    font-size: 1.2rem;
    color: white;

}

.teste .btn {
    color: #959BC7;
    padding: 7px 16px;
    border-radius: 30px;
    font-weight: 500;
    border: 2px solid #959BC7;
}

.teste .btn:hover {
    color: white;
    border: #959BC7;
}

.teste-text p {
    margin: 0.5rem 0 1rem;
    text-align: justify;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.social a {
    font-size: 27px;
    margin: 0.5rem;
}

.social a .bx {
    padding: 5px;
    color: white;
    background: black;
    border-radius: 50%;
}

.social a .bx:hover {
    background: rgb(26, 16, 117);
}

.links {

    margin: 1rem 0 1rem;
}

.links a {
    font-size: 1rem;
    font-weight: 500;
    color: black;
    padding: 1rem;
}

.links a:hover {
    color: rgb(26, 16, 117);
}

.contato p {
    text-align: center;
}

.popular__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem
}

.popular__card {
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: .35s;
}

.popular__card:hover {
    transition: scale(0.9);
    opacity: .6;
}

.popular__content {
    padding: 1rem;
}

.popular__card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.popular__card__header h4 {

    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

.popular__card__header h4:hover {

    color: rgb(26, 16, 117);
}

.popular__card__header h3 {

    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

.popular__content p {
    color: #959BC7
}

@media(max-width:1150px) {

    header {
        padding: 18px 7%;
    }

    section {
        padding: 50px 7%;
    }

    .home-text h1 {
        font-size: 3rem;
    }

    .home-text h2 {
        font-size: 1.5rem;
    }

}

@media(max-width:991px) {

    header {
        padding: 18px 4%;
    }

    section {
        padding: 50px 4%;
    }

}

@media(max-width:768px) {

    header {
        padding: 11px 4%;
    }

    #menu-icon {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: -500%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: white;
        box-shadow: 0 4px 4px rgb(198, 202, 206);
        border-top: 2px solid rgb(26, 16, 117);
        transition: 0.2s;
        text-align: left;

    }

    .navbar.active {
        top: 100%;
    }

    .navbar a {
        padding: 1.5rem;
        display: block;
        color: rgb(26, 16, 117);
    }

    .home-text span {
        font-size: 0.9rem;
    }

    .home-text h1 {
        font-size: 2.4rem;
    }

    .home-text h2 {

        font-size: 1.2rem;
    }

    .home-text {
        padding-top: inherit;

    }

    .popular__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .heading h1 {

        font-size: 1.5rem;
    }

    .heading span {
        font-size: 0.9rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .links {
        display: contents;
        flex-direction: column;
    }
    .logo img {

        width: 60px;
    }


}

@media (max-width:364px) {
    .links {
        display: flex;
        flex-direction: column;
    }

    .logo img {

        width: 50px;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(196, 204, 209);
    border: 1px;
    border-color: rgb(196, 204, 209);
}

/*imovel---------------------------------------------*/

.card-wrapper {
    padding-top: 1rem;
    max-width: 1100px;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    height: 400px;
    display: flex;
    width: 100%;
    transition: all 0.5s ease;

}

.img-showcase img {
    min-width: 100%;
    object-fit: cover;
    object-position: center;
}

.img-select {
    display: flex;
}

.img-item {
    width: 100%;
    height: 10px;
    margin: 0.3rem;
}

.img-item img {

    object-fit: cover;
    object-position: center;
}

.img-tem:nth-child(1),
.img-tem:nth-child(2),
.img-tem:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: .6;
}

.product-content {
    padding: 2rem 1rem;
}

.product-title {
    padding-top: -1rem;
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: black;
    margin: 1rem 0;
}

.product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: rgb(26, 16, 117);
}

.casa-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #959BC7;
    color: aqua;
    padding: 0 0.3rem;
    transition: all 0.5 ease;
}

.casa-link:hover {
    opacity: 0.9;
}

.product-rating {
    color: rgb(26, 16, 117);

}

.product-rating span {
    font-weight: 600;
    color: black;
}

.product-rating a {
    color: rgb(30, 16, 158);
    text-decoration: none;
}

.house-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.house-price span {
    font-weight: 400;
}

.price {
    color: rgb(26, 16, 117);
}

.house-detail h5 {

    text-transform: capitalize;
    color: rgb(26, 16, 117);
    padding-bottom: 0.6rem;

}

.house-detail h4 {

    text-transform: capitalize;
    color: rgb(26, 16, 117);
    padding-bottom: 0.6rem;

}

.house-detail p {

    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;

}

.house-detail ul {
    margin: 1rem 0;
    font-size: 0.9rem;
}

.house-detail ul li {
    margin: 0;
    list-style: none;
    background: url(imagens/icone-fleche-droite-bleu.png) left center no-repeat;
    background-size: 15px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
    color: rgb(71, 71, 71);
}

.house-detail ul li span {
    font-weight: 400;
}

.purchase-info .btn {
    color: rgb(26, 16, 117);
    background: rgb(225, 231, 235);
    border-color: white;
    cursor: pointer;
    border: 2px solid rgb(225, 231, 235)
}

.purchase-info .btn:hover {
    background: rgb(208, 213, 218);
    border: 2px solid rgb(208, 213, 218);
}

/* mapa -------------------------------------------*/

.mapa {
    display: flex;
    margin-left: 12rem;
    flex-direction: column;
    padding-top: 4rem;
}

.mapa h3 {
    color: #333;
    margin-bottom: 40px;
    left: 5rem;
}

.mapa iframe {
    width: 83%;
    height: 500px;
    margin-bottom: 10px;
}

.mapa span {
    font-weight: 400;
}

/* avaliacoes -------------------------------------------*/

#avaliacoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.avaliacao-container {
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.avaliacao-box {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: black;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.reviews {
    color: rgb(26, 16, 117);

}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 0.9rem;
    color: #333;

}

.heading h3 {
    color: rgb(26, 16, 117);
    margin-bottom: 15px;
}

@media screen and (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .card-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 1rem;
    }

    .product-content {
        padding-top: 0;
    }

    .product-title {
        font-size: 1.5;
    }
}

@media screen and (max-width: 492px) {
    .mapa {
        display: flex;
        margin-left: 3.5rem;
        flex-direction: column;
        padding-top: 2rem;
    }
    .product-imgs {
        padding-bottom: 3rem;
    }
    .product-display {
        padding-top: 3rem;
    }
}

/* -------------------- whatsapp ------------------------- */

.icon {
    position: fixed;
    bottom: 40px;
    right: 30px;
    font-size: 30px;
    background-color: #00974c;
    color: #ffffff;
    border-radius: 50%;
    padding: 4.5px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
}

/*------------------------------------------------- session -------------------------------------------*/

#userSession {
    font-size: 16px;
}